.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: #f0f0f0;
  padding: 24px;

  .error-heading {
    font-size: 36px;
    color: #f00;
    margin-bottom: 10px;
  }

  .error-message {
    font-size: 18px;
    color: #555;
  }
}
