body {
  background-color: #f51f71;
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  background-color: #f51f71e0;
  z-index: 2;
  top: 0;
  border-bottom: 1px solid #eba7c1a9;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 12px 0;

  h1 {
    font-size: 1.3rem;
    text-align: center;
    color: #eba7c1;
    text-shadow: 2px 2px 4px #333;
    margin: 0;
  }

  h2 {
    padding: 5px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #777;
    font-size: 1rem;

    * {
      color: #777;
    }
  }

  select {
    background-color: inherit;
    font-size: inherit;
    border: none;
    padding: 6px;
    color: #fff;
    font-weight: 600;
  }

  select option {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
  }
  
  select option:hover {
    background-color: #007BFF;
    color: #fff;
  }
  
  select option:checked {
    background-color: #28A745;
    color: #fff;
  }

  div {
    display: flex;
    gap: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: fit-content;
    padding: 0 5px;

    .home-btn {
      background-color: inherit;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 0;
      padding-top: 5px;
    }
  }
}

.indicator-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator-child {
  margin-top: 56px;
}

.bad-url {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #999;
}
