body {
  background-color: #f51f71;
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  background-color: #f51f71e0;
  z-index: 2;
  top: 0;
  padding: 12px;
  border-bottom: 1px solid #eba7c1a9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0;

  h1 {
    font-size: 1.3rem;
    text-align: center;
    color: #eba7c1;
    text-shadow: 2px 2px 4px #333;
    margin: 0;
  }

  .home-btn {
    background-color: inherit;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.indicator-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator-child {
  margin-top: 56px;
}

.bad-url {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #999;
}
