.league-detail {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: inherit;


  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    img {
      height: 200px;
      background-color: #ccc;
      border-radius: 5px 0 0 5px;
      padding: 20px;
    }
    
    .league-name {
      font-size: 1.4rem;
      font-weight: bold;
      align-items: flex-end;
      width: 200px;
      background-color: #ccc;
      border-radius: 0 5px 5px 0;
      padding: 20px;
      border-left: 1px solid #fff;
    }
  }

  .club-season-table {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ec4c8a;

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 0.9rem;

      th,
      td {
        padding: 10px;
        border: 1px solid #ccc;
      }

      th {
        color: #fff;
      }

      tbody {
        color: black;

        tr {
          background-color: #fff;
        }

        tr:nth-child(even) {
          background-color: #f1efef;

          td {
            color: black;

            bottom: {
              color: black;
            }
          }
        }
      }

      button {
        background-color: transparent;
        background-color: #ec4c8a;
        border: 1px solid #ec4c8a;
        color: #fff;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
      }
    }
  }
}
