#league-container {
  margin-top: 60px;

  #leagues {
    margin: auto;
    max-width: 746px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
}

.article {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ec4c8a;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  padding-top: 20px;
  width: calc(50% - 50px);
  max-width: 148px;

  &:nth-child(odd) {
    background-color: #ec4c8a;
  }

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  h2 {
    width: 100%;
    text-align: right;
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .article {
    width: 100%;
  }
}
