#team-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1140px;
  margin: auto;
  margin-top: 60px;

  .team-list-title {
    color: #ccc;
    font-weight: 600;
    font-size: 1.4rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      background-color: #fff;
      border: 1px solid #e0e0e0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 10px;
      padding: 20px;
      text-align: center;
      width: 250px;

      img {
        max-width: 100px;
        height: auto;
      }

      h2 {
        font-size: 18px;
        margin: 10px 0;
      }

      .sub-title {
        color: #a7a5a5;
        font-weight: 400 !important;
        font-size: 1rem;
      }

      article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e0e0e0;
        width: 100%;

        h3 {
          color: #007bff;
          font-size: 16px;
          margin: 5px 0;
        }

        p {
          font-size: 14px;
          float: right;
        }
      }
    }
  }

  @media (max-width: 768px) {
    main {
      div {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
